<form
  class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} mage-sheet"
  autocomplete="off"
> 
  {{!-- Mage Sheet Header --}}
  <header class="sheet-header">
    {{> "systems/woda20/templates/actor/parts/profile-img.html"}}
    <div class="header-fields">
      <img style="display: block; margin-left: auto; margin-right: auto; border: 0px;" src="systems/woda20/assets/logo/MageThe Ascension.png" width="auto" height="auto%" /></p>
      <div class="grid grid-4col flexrow">
        <label class="profile-label">Name</label>
        <label class="profile-label">Essence</label>
        <label class="profile-label">Afflination</label>
        <label class="profile-label">Sect</label>
       </div>
      <div class="grid grid-4col flexrow">
        <input name="name" type="text" value="{{actor.name}}" />
        <input type="text" name="data.headers.essence" value="{{data.data.headers.essence}}" />
        <input type="text" name="data.headers.afflination" value="{{data.data.headers.afflination}}" />
        <input type="text" name="data.headers.sect" value="{{data.data.headers.sect}}" />
     </div>
     </br>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use, use
      both the "grid" and "grid-Ncol" class where "N" can be any number from 1
      to 12 and will create that number of columns. --}}
      <div class="resources grid grid-3col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file and it
        will add a small amount of padding, a border, and will center all of its
        child elements content and text. --}} {{>
        "systems/woda20/templates/actor/parts/health.html"}} {{>
        "systems/woda20/templates/actor/parts/willpower.html"}} {{>
        "systems/woda20/templates/actor/parts/mage-arete.html"}}
      </div>
    </div>
  </header>

  {{!-- Mage Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "WoDA20.Stats"}}</a>
    <a class="item" data-tab="disciplines">{{localize "WoDA20.Spheres"}}</a>
    <a class="item" data-tab="features">{{localize "WoDA20.Features"}}</a>
    <a class="item" data-tab="combat">Possessions</a>
    <a class="item" data-tab="description">Biography</a>
  </nav>

  {{!-- Mage Sheet Body --}}
  <section class="sheet-body">
    {{!-- Stats Tab --}} 
    {{>"systems/woda20/templates/actor/parts/stats.html"}} 
    {{!-- Owned Powers Tab --}} 
    {{> "systems/woda20/templates/actor/parts/mage-magic.html"}}
    {{!-- Owned Features Tab --}} 
    {{>"systems/woda20/templates/actor/parts/mage-features.html"}} 
    {{! -- Combat --}} 
    {{> "systems/woda20/templates/actor/parts/mage-possessions.html"}}
    {{!-- Biography Tab--}}
    {{>"systems/woda20/templates/actor/parts/mage-biography.html"}}
  </section>
</form>