<option value="none">{{localize "WoDA20.None"}}</option>
<option disabled>--- Physical ---</option>
<option value="strength">{{localize "WoDA20.Strength"}}</option>
<option value="dexterity">{{localize "WoDA20.Dexterity"}}</option>
<option value="stamina">{{localize "WoDA20.Stamina"}}</option>
<option disabled>--- Social ---</option>
<option value="charisma">{{localize "WoDA20.Charisma"}}</option>
<option value="manipulation">{{localize "WoDA20.Manipulation"}}</option>
<option value="appearance">{{localize "WoDA20.Appearance"}}</option>
<option disabled>--- Mental ---</option>
<option value="perception">{{localize "WoDA20.Perception"}}</option>
<option value="intelligence">{{localize "WoDA20.Intelligence"}}</option>
<option value="wits">{{localize "WoDA20.Wits"}}</option>


