<option value="abombwe">{{localize "WoDA20.Abombwe"}}</option>
<option value="abyss_mysticism">{{localize "WoDA20.AbyssMysticism"}}</option>
<option value="akhu">{{localize "WoDA20.Akhu"}}</option>
<option value="animalism">{{localize "WoDA20.Animalism"}}</option>
<option value="auspex">{{localize "WoDA20.Auspex"}}</option>
<option value="bardo">{{localize "WoDA20.Bardo"}}</option>
<option value="celerity">{{localize "WoDA20.Celerity"}}</option>
<option value="chimerstry">{{localize "WoDA20.Chimerstry"}}</option>
<option value="daimonion">{{localize "WoDA20.Daimonion"}}</option>
<option value="dark_thaumaturgy">{{localize "WoDA20.DarkThaumaturgy"}}</option>
<option value="dementation">{{localize "WoDA20.Dementation"}}</option>
<option value="duranki">{{localize "WoDA20.duranki"}}</option>
<option value="dominate">{{localize "WoDA20.Dominate"}}</option>
<option value="flight">{{localize "WoDA20.flight"}}</option>
<option value="fortitude">{{localize "WoDA20.Fortitude"}}</option>
<option value="melpominee">{{localize "WoDA20.Melpominee"}}</option>
<option value="koldunic_sorcery">{{localize "WoDA20.KoldunicSorcery"}}</option>
<option value="mortis">{{localize "WoDA20.Mortis"}}</option>
<option value="obfuscate">{{localize "WoDA20.Obfuscate"}}</option>
<option value="mytherceria">{{localize "WoDA20.Mytherceria"}}</option>
<option value="necromancy">{{localize "WoDA20.Necromancy"}}</option>
<option value="obeah">{{localize "WoDA20.Obeah"}}</option>
<option value="obfuscate">{{localize "WoDA20.Obfuscate"}}</option>
<option value="obtenebration">{{localize "WoDA20.Obtenebration"}}</option>
<option value="ogham">{{localize "WoDA20.Ogham"}}</option>
<option value="potence">{{localize "WoDA20.Potence"}}</option>
<option value="presence">{{localize "WoDA20.Presence"}}</option>
<option value="protean">{{localize "WoDA20.Protean"}}</option>
<option value="quietus">{{localize "WoDA20.Quietus"}}</option>
<option value="sadhana">{{localize "WoDA20.Sadhana"}}</option>
<option value="sanguinus">{{localize "WoDA20.Sanguinus"}}</option>
<option value="sielanic_thaumaturgy">{{localize "WoDA20.SielanicThaumaturgy"}}</option>
<option value="sihr">{{localize "WoDA20.Sihr"}}</option>
<option value="spiritus">{{localize "WoDA20.Spiritus"}}</option>
<option value="temporis">{{localize "WoDA20.Temporis"}}</option>
<option value="thanatosis">{{localize "WoDA20.Thanatosis"}}</option>
<option value="thaumaturgy">{{localize "WoDA20.Thaumaturgy"}}</option>
<option value="valeren">{{localize "WoDA20.Valeren"}}</option>
<option value="vicissitude">{{localize "WoDA20.Vicissitude"}}</option>
<option value="voudoun_necromancy">{{localize "WoDA20.VoudounNecromancy"}}</option>
<option value="visceratika">{{localize "WoDA20.Visceratika"}}</option>
<option value="wanga">{{localize "WoDA20.Wanga"}}</option>