<option value="none">{{localize "WoDA20.None"}}</option>
<option disabled>--- Talents ---</option>
<option value="alertness">{{localize "WoDA20.Alertness"}}</option>
<option value="athletics">{{localize "WoDA20.Athletics"}}</option>
<option value="awareness">{{localize "WoDA20.Awareness"}}</option>
<option value="brawl">{{localize "WoDA20.Brawl"}}</option>
<option value="empathy">{{localize "WoDA20.Empathy"}}</option>
<option value="expression">{{localize "WoDA20.Expression"}}</option>
<option value="intimidation">{{localize "WoDA20.Intimidation"}}</option>
<option value="leadership">{{localize "WoDA20.Leadership"}}</option>
<option value="streetwise">{{localize "WoDA20.Streetwise"}}</option>
<option value="subterfuge">{{localize "WoDA20.Subterfuge"}}</option>
<option disabled>--- Skills ---</option>
<option value="animal ken">{{localize "WoDA20.AnimalKen"}}</option>
<option value="craft">{{localize "WoDA20.Craft"}}</option>
<option value="drive">{{localize "WoDA20.Drive"}}</option>
<option value="etiquette">{{localize "WoDA20.Etiquette"}}</option>
<option value="firearms">{{localize "WoDA20.Firearms"}}</option>
<option value="larceny">{{localize "WoDA20.Larceny"}}</option>
<option value="melee">{{localize "WoDA20.Melee"}}</option>
<option value="performance">{{localize "WoDA20.Performance"}}</option>
<option value="stealth">{{localize "WoDA20.Stealth"}}</option>
<option value="survival">{{localize "WoDA20.Survival"}}</option>
<option disabled>--- Knowledges ---</option>
<option value="academics">{{localize "WoDA20.Academics"}}</option>
<option value="computer">{{localize "WoDA20.Computer"}}</option>
<option value="finance">{{localize "WoDA20.Finance"}}</option>
<option value="investigation">{{localize "WoDA20.Investigation"}}</option>
<option value="law">{{localize "WoDA20.Law"}}</option>
<option value="medicine">{{localize "WoDA20.Medicine"}}</option>
<option value="occult">{{localize "WoDA20.Occult"}}</option>
<option value="politics">{{localize "WoDA20.Politics"}}</option>
<option value="science">{{localize "WoDA20.Science"}}</option>
<option value="technology">{{localize "WoDA20.Technology"}}</option>


