<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="Item Image" />
        <div class="header-fields flex-center">
            <label class="item-label" style="font-size: 16px; margin:auto; width: 50%;">Name</label>
            <input name="name" type="text" value="{{item.name}}" style="margin:auto; width: 50%;" placeholder="{{localize 'WoDA20.Name'}}" />
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "WoDA20.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "WoDA20.Attributes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
        {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div class="resource grid grid-2col flex-center">
            <label class="resource-label item-label">{{localize "WoDA20.Points"}}</label>
        </div>
        <div class="resource grid grid-2col flex-center">
            <input type="number" name="data.points" value="{{data.data.points}}" style="text-align-last:center; margin:auto; width: 35%;" />
        </div>
    </div>
    </section>
</form>