<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="Item Image" />
        <div class="header-fields flex-center">
            <label class="item-label" style="font-size: 16px; margin:auto; width: 50%;">Name</label>
            <input name="name" type="text" value="{{item.name}}" style="margin:auto; width: 50%;" placeholder="{{localize 'WoDA20.Name'}}" />
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "WoDA20.Description"}}</a>
        <a class="item" data-tab="attributes">{{localize "WoDA20.Attributes"}}</a>
        <a class="item" data-tab="roll">Roll</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
        {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
        <div class="resource grid grid-2col flex-center">
            <label class="resource-label item-label">{{localize "WoDA20.Type"}}</label>
            <label class="resource-label item-label">Maneuver</label>
        </div>
        <div class="resource grid grid-2col flex-center">
            <input type="text" name="data.vehicletype" value="{{data.data.vehicletype}}" style="text-align-last:center; margin:auto; width: 70%;" />
            <input type="text" name="data.vehiclemaneuver" value="{{data.data.vehiclemaneuver}}" style="text-align-last:center; margin:auto; width: 70%;" />
        </div>
        <div class="resource grid grid-2col flex-center">
            <label class="resource-label item-label">Safe Speed</label>
            <label class="resource-label item-label">Max Speed</label>
        </div>
        <div class="resource grid grid-2col flex-center">
            <input type="text" name="data.vehiclesafespeed" value="{{data.data.vehiclesafespeed}}" style="text-align-last:center; margin:auto; width: 70%;" />
            <input type="text" name="data.vehiclemaxspeed" value="{{data.data.vehiclemaxspeed}}" style="text-align-last:center; margin:auto; width: 70%;" />
        </div>
    </div>

    {{!-- Roll Tab --}}
    <div class="tab" data-group="primary" data-tab="roll">
        <div class="resource grid grid-2col flex-center">
            <label class="resource-label item-label">{{localize "WoDA20.Attributes"}}</label>
            <label class="resource-label item-label">{{localize "WoDA20.Abilities"}}</label>
        </div>
        <div class="resource grid grid-2col flex-center">
            <select name="data.type" data-type="String" style="text-align-last:center; margin:auto; width: 70%;">
                {{#select data.data.type}}
                <option value="melee_weapon">Melee Weapon</option>
                <option value="ranged_weapon">Ranged Weapon</option>
                {{/select}}
            </select>
            <input type="text" name="data.diff" value="{{data.data.diff}}" style="text-align-last:center; margin:auto; width: 70%;" />
        </div>
    </div>
    </section>
</form>